<div class="container">
  <form action="">
    <div class="form-group">
      <h1 class="text-center text-primary">login template</h1>
      <div class="input-group-prepend">
        <input
          #Id
          type="text"
          name=""
          id=""
          class="form-control"
          placeholder="user id "
          aria-describedby="Id"
        />
        <span
          class="input-group-text text-muted text-center"
          style="width: 15%"
          (click)="addId(Id.value)"
          >Add
        </span>
      </div>
      <strong id="Id" class="text-muted">Identification</strong>
    </div>
  </form>
  <div class="data">
    <ul class="list-unstyled">
      <li *ngFor="let id of idArray">{{ id }}</li>
    </ul>
  </div>
</div>
