<div class="container">
  <form>
    <h1 class="text(-center text-primary">App</h1>
    <div class="input-group-prepend">
      <input
        #todo
        type="text"
        class="form-control"
        placeholder="add input"
        name="todo"
      />
      <span class="input-group-text" (click)="addTodo(todo.value)">
        <i class="material-icons">add</i>
      </span>
    </div>
  </form>
  <div class="data">
    <ul class="list-unstyled">
      <li *ngFor="let todo of todoArray">
        {{ todo }}
        <i class="material-icons" (click)="deleteItem(todo)">delete</i>
      </li>
    </ul>
  </div>
</div>
